[submodule "dia-ui"]
	path = dia-ui
	url = https://github.com/munew/dia-ui.git
[submodule "dia-engine"]
	path = dia-engine
	url = https://github.com/munew/dia-engine.git
[submodule "dia-electron"]
	path = dia-electron
	url = https://github.com/munew/dia-electron.git
[submodule "dia-soi-boilerplate-node"]
	path = dia-soi-boilerplate-node
	url = https://github.com/munew/dia-soi-boilerplate-node.git
[submodule "dia-agents-browserextensions"]
	path = dia-agents-browserextensions
	url = https://github.com/munew/dia-agents-browserextensions.git
[submodule "munew-engine-ui"]
	path = munew-engine-ui
	url = https://github.com/munew/munew-engine-ui.git
[submodule "munew.github.io"]
	path = munew.github.io
	url = https://github.com/munew/munew.github.io.git
[submodule "dia-agents-baseservice"]
	path = dia-agents-baseservice
	url = https://github.com/munew/dia-agents-baseservice.git
[submodule "dia-agents-service"]
	path = dia-agents-service
	url = https://github.com/munew/dia-agents-service.git
